@import url("https://jakeisnt.github.io/styles/main.css");
body {
  margin: 0;
  padding: 0;
}

.chat-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "history" "text-input";
}

@media only screen and (min-width: 400px)  {
    .chat-container {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: "header header" "history sidebar" "text-input text-input";
    }
}

.header {
    grid-area: header;
    max-height: 4vh;
    background-color: aquamarine;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: white;
    padding: 2em;
    border-style: double;
    overflow-y: scroll;
}

.history {
    padding: 2em;
    grid-area: history;
    background-color: white;
    max-height: calc(100vh-200px);
    overflow-y: scroll;
}

.text-input {
    grid-area: text-input;
    background-color: whitesmoke;
    width: 100%;
}

.login-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: ". . ." ". login ." ". . .";
}

.login {
    grid-area: login;
    align-self: center;
    justify-self: center;
}

.start-chatting-button {
    width: 100%;
}

.username {
    margin-bottom: 0em;
    font: monospace;
    color: red;
    text-decoration: underline;
}

.my-username {
    color: blue;
}

.usermsg {
    padding-bottom: 0;
    padding-top: 1em;
}

.message {
    padding-left: 0.5em;
}

.message-input {
    width: 100%;
    color: black;
    margin: 1em;
}

.message-button {
    height: 100%;
    margin: 1.2em;
    background-color: white;
}
