@import url("https://jakeisnt.github.io/styles/main.css");
body {
  margin: 0;
  padding: 0;
}

/* login flow */
.login-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 0.75fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: ". error-tip-container ." ". login ." ". . .";
}

.login {
    grid-area: login;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    flex-flow: center;
    align-items: center;
}

.username-input {
    margin:  1.25em 0;
    text-align: center;
}

.start-chatting-button {
    margin: 0;
}
.error-tip-container {
    grid-area: error-tip-container;
}

.error-tip {
    border: 2px solid red;
    padding: 0.5em 1em;
    text-align: center;
    margin: 1em;
    align: center;
}

/* chat flow */
.chat-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "history" "text-input";
}

@media only screen and (min-width: 400px)  {
    .chat-container {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: "header header" "history sidebar" "text-input text-input";
    }
}

.header {
    user-select: none;
    grid-area: header;
    max-height: 4em;
    background-color: aquamarine;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: white;
    padding: 2em;
    border-style: double;
    overflow-y: scroll;
}

.history {
    padding: 2em;
    grid-area: history;
    background-color: white;
    max-height: calc(100vh-200px);
    overflow-y: scroll;
}

.text-input {
    grid-area: text-input;
    background-color: whitesmoke;
    width: 100%;
}

.username {
    color: red;
    text-decoration: underline;
}

.my-username {
    color: blue;
}

.usermsg {
    padding-bottom: 0;
    padding-top: 1em;
}

.message {
    padding-left: 0.5em;
    display: flex;
    flex-direction: row;
}

.message-input {
    width: 100%;
    color: black;
    border: 2px solid black;
    margin: 1em;
    padding: 1em 1em;
    background-color: white;
}

.preview-button {
    margin: 1.2em;
    background-color: white;
    padding: 0 1em;
}

.markdown-preview-box {
    border: 2px solid black;
    margin: 1em;
    padding: 0 1em;
    background-color: white;
}

.send-message-button {
    border: 2px outset black;
    height: 100%;
    padding: 1em;
    margin: 1em 1em;
    color: black;
    background-color: white;
}


/* html element styles */
img {
    max-height: 10em;
}

p {
    text-decoration: none;
}

input {
    color: black;
    border: 2px solid black;
    padding: 1em;
    background-color: white;
}

button {
    border: 2px outset black;
    padding: 1em;
    color: black;
    background-color: white;
}
